<% things.forEach(thing => { %>
    <div class="card" style="width:20rem;">
        <img class="thing-img card-img-top" src="<%= thing.pic_path %>/<%= thing.pic_name %>" alt="">
        <div class="card-block">
            <h4 class="card-title"><%= thing.title %></h4>
            <p class="card-text"><strong>Localitzation:</strong> <%= thing.localitzation %></p>
            <p class="card-text"><strong>Price:</strong> <%= thing.price %></p>
            <a href="/mythings/edit/<%= thing.id %>" class="btn btn-primary">Edit</a>
        </div>
    </div>

<% }); %>
 


