
<!-- THING -->

<div class="thing-container">
    <div class="top-margin-thing">
        <a class="go-landing" href="/">
            <img class="logo-menu-thing" src="/pictures/logo-nou-blanc.png">
        </a>
        <div class="user-info-thing-one">
                <% if (userPic !== undefined) { %>
                    <a class= "profile-pic-things-one-a" href="/profile"><img class= "profile-pic-things-one-img" src="<%=userPic.path%>/<%=userPic.name%>" alt=""></a>
                    <a class= "my-things-things-one" href="/mythings">My things</a>
                    <a class= "logout-button-things-one"href="/logout">Logout</a>
                    
                 <% } else { %>

                    <a class="signup-button-things-one"href="/signup">Sign up</a>    
                    <a class="login-button-things-one"href="/login">Log in</a>    
                 <% } %>
        </div>

    </div>

   

    <div class="flex-box-thing-thing">


        <div class="thing-chart">
            <div class="thing-pic-chart">
                <img src="<%= thing.pic_path %>" alt="">
            </div>

            <div class="thing-atributes">
                
                    <p class="other-atributes-thing">
                        <%=user.username%>
                    </p>
                    <p class="other-atributes-thing">
                        <%=thing.localitzation%>
                    </p>
                    <p class="one-thing-price">
                        <%=thing.price%> €
                    </p>
                
            </div>   

            <div class="thing-title-thing">
                    <%=thing.title%>
            </div>

            <div class="thing-description-thing">
                <p>
                    <%=thing.description%>
                </p>
            </div>

        </div>




        <div class="contact-chart">
           


                          <% if (!loggedIn) { %>
                            <div class="card" style="width: 20rem;">
                            <div class="card-body">
                            <h4 class="card-title">Contact me</h4>
                          <p class="card-text">Remember that, if you want to contact this neighbour, you'll have to log in first.</p>
                          <a class="login-to-contact" href="/login" class="card-link">Log in to contact</a>
                        </div>
                      </div>
                
                      <% } else { %>

                        <div class="card" style="width: 20rem;">
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item message-me">Message me!</li>
                                  <li class="list-group-item"> <%=user.email%> </li>
                                  <li class="list-group-item"> <%=user.telephone%> </li>
                                </ul>
                              </div>
                
                              <% } %>
 
        </div>
    </div>



</div>

