<!-- LIST OF THINGS -->

<div class="list-things-container">
      
     <div class="top-bar-things">
       
            <div class="index-searcher things-searcher">
                <a href="/">
                     <img class="logo-back-home" src="/pictures/logo-nou-blanc.png"> 
                 </a>

                   <!-- USER INFO -->
             <div class="user-info-thing-list">
                <% if (userPic !== undefined) { %>
                    <a class= "profile-pic-things-list-a" href="/profile"><img class= "profile-pic-things-list-img" src="<%=userPic.path%>/<%=userPic.name%>" alt=""></a>
                    <a class= "my-things-things-list" href="/mythings">My things</a>
                    <a class= "logout-button-things-list" href="/logout">Logout</a>
                    
                <% } else { %>
                     <a class="signup-button-things-list" href="/signup">Sign up</a>
                     <a class="login-button-things-list" href="/login">Log in</a>
                 <% } %>
             </div> 
    <!-- SEARCHER -->
                <nav class="navbar navbar-light navbar-things">
                    <form class="form-inline form-inline-things" action="/things" method="GET">
                        <input class="form-control mr-sm-2 middle-searcher searcher" name="terms" type="search" placeholder="What are you looking for?"
                        aria-label="Search">
                         <button class="btn btn-outline-success my-2 my-sm-0 middle-button button-things" type="submit">Search</button>
                    </form>
                </nav>
            </div>

      
    </div>

    
    
     
    
    <div class="things-plus-map">
        <div class="things-here">
                <!-- THINGS HERE -->
                <% data.forEach(thing => { %>
                <div class="thing-itself">
                    <a class="thing-link" href="/things/<%=thing.id%>">
                         <img class="thing-img" src="<%= thing.pic_path %>/<%= thing.pic_name %>" alt="">
                     </a>
                     <p class="thing-description">
                         <%= thing.title %> <%= thing.localitzation %>
                     </br>
                        <strong class="thing-price">
                            <%= thing.price %>$
                        </strong>
                     </p>

                </div>

                <br />
                 <% }); %>


        </div>




            <!-- GOOGLE MAPS -->
            <div class="map-wrapper">
             <div id="map"></div>
             </div>
    </div>



</div>







<script>
    var things = <%- JSON.stringify(data) %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Qq5nj0KdadNbtAvK96Balq-VGp0zYBA"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>