<!-- LIST OF THINGS -->

<div class="list-things-container">



    <!-- THINGS HERE -->
    <div class="list-of-things">
        <!-- SEARCHER -->
        <div class="index-searcher things-searcher">
            <nav class="navbar navbar-light">
                <form class="form-inline" action="/things" method="GET">
                    <input class="form-control mr-sm-2 middle-searcher searcher" name="terms" type="search" placeholder="What are you looking for?"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 middle-button" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <% data.forEach(thing => { %>
            <div class="thing-itself">
                <a href="/things/<%=thing.id%>">
                    <img src="<%= thing.pic_path %>/<%= thing.pic_name %>" alt="">
                </a>
                <p>
                    <%= thing.title %>
                        <strong>
                            <%= thing.price %>$
                        </strong>
                </p>

            </div>
            <br />
            <% }); %>


    </div>

    <!-- GOOGLE MAPS -->
    <div id="map">
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Qq5nj0KdadNbtAvK96Balq-VGp0zYBA"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>