<% data.forEach(thing => { %>
    <div>
        <a href="/things/<%=thing.id%>/show">
            <img src="<%= thing.pic_path %>/<%= thing.pic_name %>" alt="">
        </a>
        <p>
            <%= thing.title %>
                <strong>
                    <%= thing.price %>$
                </strong>
        </p>

    </div>
    <br />
    <% }); %>