<!-- LIST OF THINGS -->
<div class="list-things-container">
      
     <div class="top-bar-things top-bar-things-mobile">
       
            <div class="index-searcher things-searcher">
                <a href="/">
                     <img class="logo-back-home logo-back-home-mobile" src="/pictures/logo-nou-blanc.png"> 
                 </a>

                   <!-- USER INFO -->
             <div class="user-info-thing-list user-info-thing-list-mobile">
                <% if (userPic !== undefined) { %>
                    <a class= "profile-pic-things-list-a profile-pic-things-list-a-mobile" href="/profile"><img class= "profile-pic-things-list-img profile-pic-things-list-img-mobile" src="<%=userPic.path%>" alt=""></a>
                    <a class= "my-things-things-list my-things-things-list-mobile" href="/mythings">My things</a>
                    <a class= "logout-button-things-list logout-button-things-list-mobile" href="/logout">Logout</a>
                    
                <% } else { %>
                     <a class="signup-button-things-list signup-button-things-list-mobile" href="/signup">Sign up</a>
                     <a class="login-button-things-list login-button-things-list-mobile" href="/login">Log in</a>
                 <% } %>
             </div> 
    <!-- SEARCHER DESKTOP-->
                <nav class="navbar navbar-light navbar-things navbar-things-desktop">
                    <form class="form-inline form-inline-things" action="/things" method="GET">
                        <input class="form-control mr-sm-2 middle-searcher searcher" name="terms" type="search" placeholder="What are you looking for?"
                        aria-label="Search">
                         <button class="btn btn-outline-success my-2 my-sm-0 middle-button button-things" type="submit">Search</button>
                    </form>
                </nav>
            </div>

      
    </div>

    
     
    
    <div class="things-plus-map things-plus-map-flexbox-mobile">
        <div class="things-here">
            <!-- SEARCHER MOBILE-->
    <nav class="navbar navbar-light navbar-things navbar-things-mobile">
            <form class="form-inline form-inline-things form-inline-things-mobile" action="/things" method="GET">
                <input class="form-control mr-sm-2 middle-searcher searcher middle-searcher-things-mobile" name="terms" type="search" placeholder="What are you looking for?"
                aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0 middle-button button-things button-things-mobile" type="submit">Search</button>
            </form>
        </nav>
                <!-- THINGS HERE -->
                <% if (data.length === 0) { %>
                    <h4 class="mt-5 ml-5">No neighbours offering this :(<h4>
                <% } %>
                <% data.forEach(thing => { %>
                <div class="thing-itself">
                    <a class="thing-link" href="/things/<%=thing.id%>">
                         <img class="thing-img" src="<%= thing.pic_path %>" alt="">
                     </a>
                     <p class="thing-description">
                         <%= thing.title %> 
                        </br>
                        <strong class="thing-location">
                         <%= thing.localitzation %>
                        </strong>
                     </br>
                        <strong class="thing-price">
                            <%= thing.price %>€
                        </strong>
                     </p>

                </div>

                <br />
                 <% }); %>


        </div>




            <!-- GOOGLE MAPS -->
            <div class="map-wrapper">
             <div id="map"></div>
             </div>
    </div>



</div>







<script>
    var things = <%- JSON.stringify(data) %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Qq5nj0KdadNbtAvK96Balq-VGp0zYBA"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>