<% data.forEach(thing => { %>
    <div>
        <a href="/things/<%=thing.id%>/show">
            <img src="<%= thing.pic_path %>/<%= thing.pic_name %>" alt="">
        </a>
        <p>
            <%= thing.title %>
                <strong>
                    <%= thing.price %>$
                </strong>
        </p>

    </div>
    <br />
    <% }); %>

        <!-- GOOGLE MAPS -->
        <div id="map"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Qq5nj0KdadNbtAvK96Balq-VGp0zYBA"></script>
        <script type="text/javascript" src="/javascripts/map.js"></script>