<% if (things === undefined) { %>
    <p>You don't have any things yet</p>
<% } else { %>
    <form action="/mythings/add" action="POST">
        <button type="submit" class="btn btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </form>
    <% things.forEach(thing => { %>
        <div class="card" style="width:20rem;">
            <img class="thing-img card-img-top" src="<%= thing.pic_path %>" alt="">
            <div class="card-block">
                <h4 class="card-title"><%= thing.title %></h4>
                <p class="card-text"><strong>Localitzation:</strong> <%= thing.localitzation %></p>
                <p class="card-text"><strong>Price:</strong> <%= thing.price %></p>
                <a href="/mythings/edit/<%= thing.id %>" class="btn btn-primary d-inline">Edit</a>
                <form action="/mythings/delete/<%= thing.id %>" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    <% }); %>
<% } %>
 


