<div class="container pt-5">
    <h2 class="text-center roboto">Edit My Things</h2>

    <div class="col-6 mt-5 mx-auto">
        <form action="/mythings/edit/<%= thing.id %>" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" value="<%= thing.title %>" />
            </div>
            <div class="form-group">
                <label for="localitzation">Localitzation</label>
                <input type="text" class="form-control" name="localitzation" value="<%= thing.localitzation %>" />
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" name="price" value="<%= thing.price %>" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" name="description" rows="3"><%= thing.description %></textarea>
            </div>
                
            <a href="/mythings" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Save changes</button>          
        </form>
    </div>
</div>